[
    {csvlog, [
        {destinations, [
            {tag1, [
                {file, "log/tag1"},
                {max_size, 10485760}, % 10 MB
                {separator, ","}
            ]},
            {tag2, [
                {file, "log/tag2"},
                {header, "#v1;v2;v3"},
                {max_size, 10485760} % 10 MB
            ]}
        ]}
    ]}
].
